<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Today</title>
</head>
<body>
    <%  t = Time.now %>
    <h1><%= Today = t.strftime("The date is %A, %B %d, %Y") %></h1>
    <p><%= Today%></p>
</body>
</html>